<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gadgetoGoogle="http://typo3.org/ns/Madj2k/GadgetoGoogle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:comment><!-- Now add some HTML for the overlays --></f:comment>
    <f:if condition="{locations}">
        <f:then>
            <f:for each="{locations}" as="location">
                <f:render partial="Map/Overlay"
                          arguments="{location: location, data: data, settings: settings, settingsForLayout: settingsForLayout}" />
            </f:for>
    
            <f:comment><!--
                Init the map. Optionally you can add a "locationCenter" to explicitl define the center of the map.
                Otherwise the first place is used. Don't forget to add an overlay-element for it!
            --></f:comment>
            <f:if condition="{locationCenter}">
                <f:then>
                    <f:render partial="Map/Overlay" 
                              arguments="{location: locationCenter, data: data, settings: settings, settingsForLayout: settingsForLayout}" />
                    
                    <f:render partial="Map/ClusterMarker" 
                              arguments="{data: data, settings: settings, settingsForLayout: settingsForLayout}" />
                    <gadgetoGoogle:googleMaps locations="{locations}" locationCenter="{locationCenter}" settings="{settings}" />
                </f:then>
                <f:else>
                    <f:render partial="Map/ClusterMarker" 
                              arguments="{data: data, settings: settings, settingsForLayout: settingsForLayout}" />
                    <gadgetoGoogle:googleMaps locations="{locations}" settings="{settings}" />
                </f:else>
            </f:if>
    
            <f:comment><!-- Set container of the map. --></f:comment>
            <f:render partial="Map/Container" 
                      arguments="{data: data, settings: settings, settingsForLayout: settingsForLayout}" />
        </f:then>
        <f:else>
            <f:if condition="{search.isActive}">
                <div class="alert alert-warning" role="alert">
                    <p><f:translate key="label.noResults" extensionName="gadgeto_google" /></p>
                </div>
            </f:if>
        </f:else>
    </f:if>

</html>