<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gadgetoGoogle="http://typo3.org/ns/Madj2k/GadgetoGoogle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:comment>
        <!--
        This are the overlays for the pins, each with an unique id.
        data-class is added as class to the container on intitialization
        -->
    </f:comment>

    <f:variable name="cssClasses" value="" />
    <f:for each="{location.categories}" as="category">
        <f:variable name="cssClasses" value="{cssClasses} variant-{category.txGadgetoGoogleStyle}" />
    </f:for>
    <template id="tx-gadgetogoogle-map-overlay-{gadgetoGoogle:objectTypeHash(object: location)}-{data.uid}" data-class="map-marker">
        <div class="map-marker-icon {cssClasses}" title="{location.label}">
            <span class="map-marker-icon-label {cssClasses}">{location.label}</span>
        </div>
        <div class="map-marker-details {cssClasses}">
            <f:render partial="Location/Item" 
                      section="Pin" 
                      arguments="{location: location, settings: settings, data: data}" />
        </div>
    </template>

</html>