<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gadgetoGoogle="http://typo3.org/ns/Madj2k/GadgetoGoogle/ViewHelpers"
      data-namespace-typo3-fluid="true"
>
    
    <div class="form-element">
        
        <label for="tx-gadgetogoogle-search-{property}-{data.uid}" class="form-label">
            <f:translate key="label.searchField.{property}" extensionName="gadgetoGoogle" />
        </label>
        
        <f:form.select
            property="{property}"
            id="tx-gadgetogoogle-search-{property}-{data.uid}"
            options="{options}"
            optionLabelField="title"
            optionValueField="uid"
            prependOptionLabel="{f:translate(key:'label.searchField.{property}.all', extensionName:'gadgetoGoogle')}"
            prependOptionValue="0"                    
            class="form-select form-control"
        />
    </div>
       
</html>
